.DS_Store
target
target/**/*
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
web-app/WEB-INF/lookup-lang-addon.xml
web-app/WEB-INF/i18n-core-lang-addon.xml
web-app/WEB-INF/banner-ui-lang-addon.xml
web-app/WEB-INF/sghe-zk-core-lang-addon.xml
web-app/WEB-INF/banner-general-person-ui-lang-addon.xml
web-app/WEB-INF/banner-aurora-lang-addon.xml
web-app/i18n_properties.gsp
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
.idea
.idea/**/*
out/
grails-banner-core*.zip
*.sha1
test/**/cobertura.ser
test/**/release_info.groovy
test/**/release_info.groovy.old
plugin.xml
*en_PS.properties
*.ser
web-app/js/common-*.js
web-app/css/common-*.css
web-app/css/rtl.css
web-app/js/underscore.js
web-app/js/underscore.string.js
web-app/js/config.js
web-app/js/utils.js
web-app/js/unifiedmenu/*
web-app/js/log4javascript.js
web-app/js/logging.js
lib/bannerTransform.jar
README.md
build/*
